@import "susy/sass/susy";
// Colours
@import '~shared/styles/base/variables/colours';
// Scaffolding
@import '~shared/styles/base/variables/scaffolding';
// Border Radius
@import '~shared/styles/base/mixins/border-radius';
// Highlighting
//@import url(//cdn.jsdelivr.net/highlight.js/9.0.0/styles/github.min.css);
@import '~shared/styles/vendor/highlight';

$susy: (
	gutters: 1/8
);

.library {
	@include container(100%);
	&__nav {
	  @include span (2 of 12);
	}
	h2 {
		margin-top:0;
	}
	pre {
		padding:0.625em;
		margin:1em 0 0 0;
		@include border-radius(3px, 3px, 3px, 3px);
		background-color: $color-gray-100;
		border: 1px solid darken($color-gray-100, 5%);
	}
	code {
    color: darken($color-gray-500, 5%);
    border-radius: 2px;
    &.inline {
    	padding: 2px 4px;
    	color: darken($primary, 10%);
    	background-color: lighten($primary, 40%);
    }
	}

	&__main-content {
	  @include span (10 of 12 last);
	  padding:1.2em 1.2em 1.2em 0;
	  height:calc(100vh - (1.2em * 2));
	  
	}

	&__main-view {
		@include container(100%);
	}

	.slide-panel__trigger {
  	color: $color-gray-500;
  	text-transform: uppercase;
  	font-size: 12px;
  	background: darken($color-gray-100, 2%);
  	padding: 4px;
  	transition: all ease 0.2s;
  	@include border-radius(3px, 3px, 3px, 3px);
  	&:hover {
  		text-decoration:none;
  		color: $color-gray-700;
  		background: $color-gray-200;
  	}
  	&:before {
  		content: "</>";
  	}
  }

}