// Colours
@import '~shared/styles/base/variables/colours';

.library__nav {
	background:lighten($color-gray-200, 2%);
  border-right: 1px solid darken($color-gray-200, 5%);
  position:fixed;
}

.library__item {
	padding:1em 0;		
	& > span {
		font-size:16px;
		color: $color-gray-900;
	}
	& > ul {
		padding-left:0;
	}
	ul {
		margin-top:0.5em;
		list-style: none;
		li {			
			a {
				color:$color-gray-500;
				display:block;
				padding-left:1em;
				transition: 0.4s ease all;
				border-left: 2px solid $color-gray-300;	
				&:hover {
					text-decoration: none;
					background: $color-gray-200;
					border-color: $color-gray-400;
					color:$color-gray-600;
				}
				&.is-active, &:active, &:focus {
					text-decoration: none;
					font-weight:bold;
					border-color: $color-red-600;
					color: $color-red-600;
				}
				&.disabled {
					color:$color-gray-300;
					text-decoration: line-through;
					cursor:not-allowed;
				}
			}
		}
	}
}

.library__title {
	background: $color-red-600;
	color: $color-white;
	padding:0.625em;
	font-size:16px;
	width:calc(100% + 1px);
	border-bottom:1px solid darken($color-red-600, 5%);
	i {
		font-size:20px;
	}
}

.title__beta-label {
	font-size:8px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:16px;
	background:white;
	padding:2px;
	color:$color-red-600;
	border-radius:3px;
	margin-top:5px;
	vertical-align:top;
}

.library__menu {
	list-style: none;
	padding-left:1em;
	color: inherit;
	height:calc(100vh - 50px; /* 100% minus menu height + padding amount x2 */
  overflow-y:auto;
}