/**************
UI Basics Label
***************/

// Dependencies:

// 1. Base > variables > colours
@import '~shared/styles/base/variables/colours';

// Styles

.ui-label {
  background: $color-gray-600;
  border-radius: 3px;
  color: $color-white;
  display: inline-block;
  font-size: 12px;
  line-height: 1.4;
  padding: 1px 4px;

  i {
  	vertical-align: middle;
  	margin-bottom:2px;
  	position: relative;
    bottom: 1px;
  }

  a {
  	color: $color-white;
  	&:hover {
  		color:inherit;
  	}
  }
  /* 
  ** Subtle labels 
  */
  &--subtle {
  	background: lighten($color-gray-600, 60%);
  	border: 1px solid lighten($color-gray-600, 50%);
  	color: $color-gray-600;
  }
  /* 
  ** Badges
  */
  &--badge {
  	border-radius: 2em;
  	min-width:22px;
  	min-height:22px;
  	line-height: 20px; /* minus border */
   	overflow: auto;
  	text-align: center;
  	vertical-align: middle;
  }
  /* 
  ** Colours
  */
	&--warning {
  	background: $warning;
  	&.ui-label--subtle {
	  	background: lighten($warning, 40%);
	  	border: 1px solid lighten($warning, 30%);
	  	color: darken($warning, 10%);
	  }
	}
	&--primary {
  	background: $primary;
  	&.ui-label--subtle {
	  	background: lighten($primary, 40%);
	  	border: 1px solid lighten($primary, 30%);
	  	color: darken($primary, 10%);
	  }
	}
	&--success {
  	background: $success;
  	&.ui-label--subtle {
	  	background: lighten($success, 40%);
	  	border: 1px solid lighten($success, 30%);
	  	color: darken($success, 10%);
	  }
	}
	&--danger {
  	background: $danger;
  	&.ui-label--subtle {
	  	background: lighten($danger, 40%);
	  	border: 1px solid lighten($danger, 30%);
	  	color: darken($danger, 10%);
	  }
	}
	/* 
  ** Sizes
  */
  &--large {
  	font-size: 1.4em;
  }


	// Miscellaneous global classes
	&--ta-badge {
	  background-color: $color-green-500;
	  font-weight: bold;
	  padding: 1px 6px;
	}
	&--status-granted {
	  background-color: $color-green-600;
	}
	&--status-pending {
	  background-color: $color-cyan-500;
	}
	&--status-refused {
	  background-color: $color-black;
	}

}