@import "susy/sass/susy";

.dashboard {
	
	&__main-panel {
		margin-top:5em;
	  @include container (40%);
	  height:720px;
	}

	&__info {
		position:absolute;
		top:30px;
	}

	h2 {
		margin:0.2em 0;
		padding:0.2em 0 0.5em;
		border-bottom:1px solid #eee;
	}
	.main-menu {
		padding:1em;
		font-size:16px;
		background:#eee;
	}
}