/**************
UI Basics Label
***************/

// Dependencies:

// Colours
@import '~shared/styles/base/variables/colours';
// Scaffolding
@import '~shared/styles/base/variables/scaffolding';

// Styles

.app-row {
	display:table;
  color: inherit;
  padding:calc( #{$default-padding} / 2 ) $default-padding;
  width:100%;
  transition: background 0.4s ease;
  &:active, &:focus, &:hover {
    text-decoration: inherit;
    color: $color-gray-900;
    background: darken($color-gray-100, 5%);
  }

  &__link {
  	display:table-cell;
  	vertical-align: middle;
  	width: 60%;
  	font-size: 1.4em;
  	text-transform: capitalize;
    padding-left: 8px;
    padding-right: 6px;
  }

  &__numeric {
  	display:table-cell;
  	vertical-align: middle;
    &--hidden {
      visibility:hidden;
    }
  }

  &__treatment {
  	margin-left:10px;
  }

  &__spacer {
    margin-right:20px;
  }

}