/*********************
UI Basics Input Submit
**********************/

// Dependencies:

// 1. Colours
@import '~shared/styles/base/variables/colours';
// 2. Button
@import '~shared/styles/base/mixins/button';
// 3. Border-radius
@import '~shared/styles/base/mixins/border-radius';
// 4. Box-shadow
@import '~shared/styles/base/mixins/box-shadow';

// Styles

.ui-input-submit {
  @include button-static;
	@include border-radius(4px, 4px, 4px, 4px);
	@include box-shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.4));	
  color:white;
	padding: .625em;
	border:1px solid transparent; 

	&--primary {
		@include button($primary);
	}
	&--warning {
		@include button($warning);
	}
	&--success {
		@include button($success);
	}
	&--danger {
		@include button($danger);
	}
}