.menu-search-bar {
	float:left;
	width:100%;
	padding:1.2em;
	background:#eee;
	margin-bottom:1.2em;
	border-bottom:1px solid #ddd;
	input[type="text"], input[type="textarea"] {
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
		&:focus {
			width:375px;
			outline:0;
		}
	}
}