/********************************
Frames
---------------------------------
Shared classes for display of 
structural elements used by the
'template' files in /templates
*********************************/

// Susy
@import "susy/sass/susy";
// Padding & margin
@import '~shared/styles/base/variables/scaffolding';
// Colours
@import '~shared/styles/base/variables/colours';

* {
	box-sizing: border-box;
}

/** Set to overflow hidden to allow
scrolling within containers **/
html, body, #myApp {
	//overflow: hidden;
	background:$color-gray-100;
}

/** A utility class for applying 
100% height to a 'wrapper' <div> **/
.view {
  height:100%;
}

/** Main wrapper **/
.wrapper {
	margin-top:$body-top-margin;
	@include container (80%);
}

/** Main and secondary panels - apply full height **/
[class*='main-panel'], [class*='secondary-panel'] {
	height: calc(100vh - #{$body-top-margin} * 2); /* 2 x margin height */
	padding: calc ( #{$default-padding} / 2 );
	transition: all 0.4s ease;
	& > [class*='__panel-inner'] {
		height:100%;
		overflow:auto;
		padding:calc ( #{$default-padding} / 2 );
		&::-webkit-scrollbar {
			display: none;
		}
	}
}