/**************
UI Basics Panel
***************/

// Dependencies:

// Border-radius
@import '~shared/styles/base/mixins/border-radius';
// Box-shadow
@import '~shared/styles/base/mixins/box-shadow';
// Padding & margin
@import '~shared/styles/base/variables/scaffolding';

// Styles
.ui-basics-panel {
  border: none;
  @include border-radius(2px, 2px, 2px, 2px);
  @include box-shadow(0px, 1px, 4px, rgba(0, 0, 0, 0.3));
  margin-bottom: 1.2em;
  background-color: #fff;
  &__panel-inner {
    padding:$default-padding;
    & > * {
	  	&:first-child {
		  	//padding-top:0;
		  	margin-top:0;
	  	}
	  }
  }
}