/*************
Search Form
**************/

.ui-search-form {
	input[type="text"] {
		min-width:180px;
	}
	input[type="submit"] {
		margin-left:5px;
	}
	&--left {
		float:left;
	}
	&--right {
		float:right;
	}
}