// Colours
@import '~shared/styles/base/variables/colours';
// Box shadow
@import '~shared/styles/base/mixins/box-shadow';

.close-btn {
	&--icon-only {
		border:0;
		background:transparent;
		@include box-shadow (0,0,0,0);
		font-weight:bold;
		font-size:inherit;
	}
}