/*************
Menu
**************/

.ui-menu {
	display:block;
	padding:0;
	margin:0;
	&__item {
		list-style:none;
		i[class*="icon"] {
			display: inline-block;
			margin-right:5px;
		}
	}
	&--horizontal {
		vertical-align:middle;
		.ui-menu__item {
			display:inline;
			margin-right:1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
