/*************
Menu
**************/

.ui-menu {
	display:block;
	padding:0;
	margin:0;	
	vertical-align:middle;
	& > li {
		display:inline-block;
		margin-right:0.5em;
		&:after {
			content:" • ";
			color: #666;
		}
		&:last-child {
			margin-right: 0;
			&:after {
				content:""
			}
		}
	}
	&--left {
		float:left;
	}
	&--right {
		float:right;
	}
}
