// Colours
@import '~shared/styles/base/variables/colours';
// Scaffolding
@import '~shared/styles/base/variables/scaffolding';

.dossier-row {
	display:block;
	color: inherit;
	position: relative;
	width: 100%;
	height: 110px;
	font-size: 1.2em;
	padding: $inner-padding;
	transition: 0.3s ease background;
	margin-bottom: $inner-padding;
	&:hover {
		background: darken($color-gray-100, 2%);
	}
	&:first-child {
		margin-top:0;
	}
	&:last-child {
		margin-bottom:0;
	}
	&__colour-block{

		@mixin colour-block {
			display: block;
	    width: 15px;
	    min-height: 20px;
	    height: 100%;
	    float: left;
	    margin-right: $inner-padding;
	    background: $color-gray-300;
		}

		@include colour-block;

		&--red {
    	@include colour-block;
    	background:lighten($red, 30%);
    }
    &--blue {
    	@include colour-block;
    	background:lighten($cerulean, 30%);
    }
		&--green {
			@include colour-block;
			background:lighten($green, 30%);
		}
		&--yellow {
			@include colour-block;
			background:lighten($yellow, 30%);
		}
		&--orange {
			@include colour-block;
			background:lighten($orange, 30%);
		}
		&--purple {
			@include colour-block;
			background:lighten($violet, 30%);
		}
	}		
	&__application, &__meta {
		display: table-cell;
	}
	&__title, &__applicant, &__number, &__lim-date, &__specialist {
		display: block;
    line-height: 1;
	}
	&__title {
		margin-bottom: 5px;
	}
	&__applicant {
		text-transform: uppercase;
	}
	&__number {
		text-transform: uppercase;
		position: absolute;
		margin: 0;
		bottom: $inner-padding;
	}
	&__lim-date {
		margin: 0;
	}
	&__meta {
		text-align: right;
    position: absolute;
    right: $inner-padding;
    bottom: $inner-padding;
	}
	&__specialist {
		margin-bottom: 5px;
	}

	.close-btn {
		line-height: 1;
		padding: 0;
		position:absolute;
		top:$inner-padding;
		right:$inner-padding;
	}
}