/**************
UI Basics Label
***************/

// Dependencies:

// Base > variables > colours
@import '~shared/styles/base/variables/colours';

// Styles

.ui-indicator {
  background: $color-gray-600;
  border-radius: 100%;
  color: $color-white;
  display: inline-block;
	line-height: 1.5;
	width: 1.5em;
	height: 1.5em;
	text-align: center;

  &--outline {
		background:none;
		border:2px solid $color-red-600;
		color: $color-red-600;
		line-height: 1.4;
  }

	&--warning {
  	background: $color-orange-500;
	}

}