// Colours
@import '~shared/styles/base/variables/colours';
// Config
@import '~shared/styles/base/variables/config';

/* Tray Header */
.tray-group-title {
  background-color: $color-gray-200;
  border-bottom: 1px solid $color-gray-300;
  margin-bottom: 20px;
  
  &__menu-button {
    background-color: $color-gray-400;
    display: inline-block;
    height: 100%;
    min-height: 50px;
    margin-right: 10px;
    text-decoration: none;
    transition: background-color .125s ease;
    vertical-align: middle;
    width: 50px;
    
    &:hover,
    &:active {
      background-color: $color-gray-500;
      text-decoration: none;
    }
    
    [class^="icon-"],
    [class*=" icon-"] {
      align-items: center;
      color: $color-white;
      display: flex;
      font-size: 32px;
      height: 50px;
      justify-content: center;
      width: 50px;
    }
  }
  
  &__title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
  }

  /* Variations */

  .trays-module--estore & {
    background-color: $color-red-100;
    border-bottom: 1px solid $color-red-400;
    &__menu-button {
      background-color: $color-red-500;
      
      &:hover,
      &:active {
        background-color: $color-red-600;
      }
    }
  }
  .trays-module--stock-manager & {
    background-color: $color-purple-100;
    border-bottom: 1px solid $color-purple-400;
    &__menu-button {
      background-color: $color-purple-500;
      
      &:hover,
      &:active {
        background-color: $color-purple-600;
      }
    }
  }
  .trays-module--director & {
    background-color: $color-blue-100;
    border-bottom: 1px solid $color-blue-400;
    &__menu-button {
      background-color: $color-blue-500;
      
      &:hover,
      &:active {
        background-color: $color-blue-600;
      }
    }
  }
  .trays-module--work-manager & {
    background-color: $color-green-100;
    border-bottom: 1px solid $color-green-400;
    &__menu-button {
      background-color: $color-green-500;
      
      &:hover,
      &:active {
        background-color: $color-green-600;
      }
    }
  }

}