.helpers {
	padding:15px;
	position:fixed;
	right:0;
	top:0;
	height:100%;
	&>div {
		height:100%;
	}
	button {
		font-size:1.8em;
	}
	
	&__toolbar {
		padding:15px;
		position:fixed;
		right:0;
		top:0;
		height:100%;
		
		&--vertical {}
		&__button {
			&--anchored {
				position: absolute;
    		bottom: 10px;
    		right: 10px;
			}
		}
	}

}