/**************
Main Navigation
***************/

// Colours
@import '~shared/styles/base/variables/colours';
// Box-shadow
@import '~shared/styles/base/mixins/box-shadow';

.nav {
	@include box-shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.2));
	background:$color-white;
	position:fixed;
	left:0;
	top:0;
	height:100vh;
	overflow-x:hidden;
	a {
		&:hover, &:active, &:focus {
		  text-decoration:none; /* 'Globally' remove from all anchor tags */
		}
	}
	&--vertical {
		width:70px;
	}
}

.nav-header {
	.menu-button {
		font-size:2.4em;
	}
	a {
		display:block;
		text-align:center;
		line-height: 1;
	}
	&__module-identifier {
		background:$primary;
		color:$color-white;
		display: block;
	  font-size: 0.65em;
	  line-height: 1;
	  font-weight:bold;
	  text-transform: uppercase;
	  text-align: center;
	  border-top:1px solid darken($primary, 5%);
	  padding:0.625em 0;
	  &:hover, &:active, &:focus {
			color: $color-white;
		}
	}
	&__dossier-identifier {
		background:$color-gray-400;
		color: $color-white;
		padding:1em 0;
		&:hover, &:active, &:focus {
			background:$color-gray-500;
			color: $color-white;
		}
	}
	&__dossier-content {
		font-size:1.8em;
		color: inherit;
		padding:0.5em 0;
		&:hover, &:active, &:focus {
			background:$color-gray-100;
		}
		/* 
		** Relates to parent '.nav' modifier. Keep all
		** context (e.g. all .nav-header__dossier-content {} code)
		** encapsulated in one location. See css guidelines doc.
		*/
		.nav--work-manager & { /* is the same as {.nav--work-manager.nav-header__dossier-content} */
			&:hover, &:active, &:focus {
			  color:$color-green-500;
			}
		}
		.nav--workspace & {
			&:hover, &:active, &:focus {
			  color:$primary;
			}
		}
	}
	&__back-btn {
		color: inherit;
		font-size:1.8em;
		padding:0.2em 0;
		background:$color-gray-500;
		color: $color-white;
		&:hover {
			background: $color-gray-600;
			color: $color-white;
		}
	}
}

.nav-toolbar {

}