/*******************
Default button mixin
********************/

@mixin button($color) {
	background-color: $color;
	border-color: mix(black, $color, 5%);
  
	&:hover {
		background-color: mix(black, $color, 15%);
		border-color: mix(black, $color, 10%);
	}
}

@mixin button-static {
	border: none;
	text-transform:uppercase;
	display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
	
	&:hover {
		cursor: pointer;
	}
}