@mixin scrollbar {
  
  /* Scroll bars */

  ::-webkit-scrollbar {
      width: 6px;
  }

  ::-webkit-scrollbar-track {
      background:#eee;
  }

  ::-webkit-scrollbar-thumb {
      background:#ddd;
      opacity:0.2;
      &:hover {
        background:#ccc;
      }
  }
}