/*****************
Global Menu Button
******************/

/*** Dependencies ***/

// Colours
@import '~shared/styles/base/variables/colours';

/*** Styles ***/

.menu-button {
	display: block;
  padding: 0.25em 0;
  background: $color-gray-600;
	&__icon {
		display: block;
		text-align: center;
    margin-top:2px; /* slight adjustment as icon font is not vertically centred */ 
	}
  &--small {
    font-size:1.4em;
  }
  &--large {
    font-size:2.4em;
  }
	
	&:hover, &:active, &:focus {
		color: $color-white;	
	}
  
  // Colours
  @mixin workspace($colour) {
    background-color: $colour;
    color: $color-white;
    & > span {
      border-color: lighten($colour, 10%);
    }
    &:hover {
      background: darken($colour, 10%);
      & > span {
        border-color: darken($colour, 5%);  
      }
    }
  }
	
	&--workspace {
    @include workspace($primary);
  }
  &--estore {
  	@include workspace($color-red-500);
  }
  &--stock-manager {
    @include workspace($color-purple-500);
  }
  &--director {
  	@include workspace($color-blue-500);
  }
  &--work-manager {
    @include workspace($color-green-500);
  }
}