// Colours
@import '~shared/styles/base/variables/colours';

/* Tray Elements */

.tray {
  background-color: white;
  border-bottom: 1px solid $color-gray-200;
  border-top: 1px solid $color-gray-200;
  color: $color-black;
  display: block;
  margin-bottom: -1px;
  padding: 12px;
  position: relative;
  text-decoration: none;
  transition: background-color .125s ease, border-color .125s ease;
  width: 100%;
  /* z-index: 100; */
  
  &:hover,
  &:active {
    background-color: $color-blue-100;
    border-bottom: 1px solid $color-blue-500;
    border-top: 1px solid $color-blue-500;
    text-decoration: none;
    z-index: 900;
  }
  
  &__title {
    display: inline-block;
    line-height: 1.2;
    width: 70%;
  }
  
  &__urgent-indicator {
    display: inline-block;
    margin-left: -30px;
    text-align: center;
    line-height: 1.2;
  }
  
  &__urgent-indicator span {
    background-color: red;
    border-radius: 80px;
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 4px 9px 4px;
  }
  
  &__total {
    float: right;
    /*line-height: 1.4;*/
  }
  
  &__total,
  &__total--unread {
    display: inline-block;
    text-align: right;
  }
  
  &__total--unread {
    font-weight: 700;
  }
  
  &--subtray {
    background-color: white;
    border-bottom: 1px solid $color-gray-200;
    border-top: 1px solid $color-gray-200;
    color: $color-gray-600;
    display: block;
    margin-bottom: -1px;
    padding: 16px 10px;
    position: relative;
    text-decoration: none;
    transition: background-color .125s ease, border-color .125s ease;
    width: 100%;
    z-index: 100;
  
    &:hover,
    &:active {
      background-color: $color-blue-100;
      border-bottom: 1px solid $color-blue-500;
      border-top: 1px solid $color-blue-500;
      text-decoration: none;
      z-index: 900;
    }
    
    .tray__title {
      padding-left: 28px;
    }  
  }
  
  &__current {
    background: $color-blue-100;
    border-bottom: 1px solid $color-blue-500;
    border-top: 1px solid $color-blue-500;
    color: $color-blue-600;
    z-index: 900;
  }
}