.ui-button {
	display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
	
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: 0;
	}
}